:root {
    --primary-dark-bg-color: #100e08;
    --secondary-dark-bg-color: #181212;
    --primary-dark-hl-color: #9f5f33;
    --primary-dark-link-color: #bf806f;
}
.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular, p {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
    background-color: var(--primary-dark-bg-color);
    color: #ababef;

    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px #ababef solid;
}

body img {
    max-width: 100%;
}

div:has(> pre > code) {
    border: 2px dotted;
    border-color: var(--primary-dark-bg-color);
    padding: 0 1rem;
}

:not(pre) > code {
    background-color: var(--secondary-dark-bg-color);
    margin-left: 3px;
    margin-right: 3px;
    color: var(--primary-dark-hl-color);
}

a, a:visited, a:hover, a:active {
    color: var(--primary-dark-link-color);
}
