<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/blog.css"/>
    <link rel="stylesheet" href="/assets/css/code_highlight.css"/>
    <title> {{ page.title }} </title>
  </head>

  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>
